canvas {
    border: 1px black solid;
    background-color: lightgray;
}

textarea {
    resize: none;
    width: 100%;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}

.centerBlock {
    display: block;
    margin: 5px auto;
    padding: 4px;
}