.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
    max-width: 100%;
}

fieldset {
    min-width: fit-content;
}

:where(input[type="number"]) {
    width: 5em;
}

.smallPadding {
    padding: 3px 0px;
}

.equipSelector {
    min-width: 100%;
    width: fit-content;
    padding: 1px 0px;
}

.equipSelector > select {
    display: block;
    width: 100%;
}

.alignBottom {
    width: fit-content;
    padding: 5px;
    margin: auto;
}

.mediumNumberEntry {
    width: 6em;
}

.smallNumberEntry  {
    width: 3.5em;
}
#circuitSelector {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}
.containerRoot {
    width: 475px;
}
.containerPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px lightgray solid;
    height: 200px;

    width: 100%;
}

.containerPage:not(.active) {
    display: none;
}

.pageSelector {
    display: flex;
    flex-direction: row;
}

.pageSelector > button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.pageSelector > button.active {
    background-color: lightgray;
    font-weight: bold;
}