#root {
    display: flex;
    flex-direction: column;
}

#root > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

#root > div > div {
    width: fit-content
}

fieldset {
    min-width: fit-content;
}

input[type="number"] {
    width: 6em;
}

.equipSelector {
    width: 15em;
}
#playerAutoFill {
    display: flex;
    flex-direction: column;
}