#root {
    display: flex;
    flex-direction: column;
}

#root > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

#root > div > div {
    width: fit-content
}

fieldset {
    min-width: fit-content;
}

:where(input[type="number"]) {
    width: 5em;
}

.smallPadding {
    padding: 3px 0px;
}

.equipSelector {
    min-width: 100%;
    width: fit-content;
    padding: 1px 0px;
}

.equipSelector > select {
    display: block;
    width: 100%;
}

#playerAutoFill {
    display: flex;
    flex-direction: column;
}

.alignBottom {
    width: fit-content;
    padding: 5px;
    margin: auto;
}

.mediumNumberEntry {
    width: 6em;
}

.smallNumberEntry  {
    width: 3.5em;
}