table {
    border-collapse: collapse;
    border: 3px black solid;
}
td, th {
    border: 1px black solid;
}
td.textbox {
    border: 1px white solid;
}


/*    "#ffffff",
    "#ff6969",
    "#65ff89",
    "#ffe430",
    "#808080" */

.color-c0 {
    color: #ffffff;
}
.color-c1 {
    color: #ff6969;
}
.color-c2 {
    color: #65ff89;
}
.color-c3 {
    color: #ffe430;
}
.color-c4 {
    color: #808080;
}
.color-c5 {
    color: #ff8932;
}

.step-collection {
    display: block;
}

.step {
    border: 1px black solid;
    display: flex;
}

.step-core {
    min-width: 200px;
}

.step-core img {
    display: block;
    margin: auto;
}

.step p {
    margin: 4px;
}

.step-name {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.textbox {
    width: 40em;
    min-height: 3lh;
    padding: 10px;
    margin: 10px;
    background-color: #333;

    font-family: sans-serif;
}

.font-NORMAL {
    font-size: 16px;
}

.font-SMALL {
    font-size: 12px;
}


.textbox-small {
    width: fit-content;
    min-height: auto;
    padding: 5px;
}

.condition {
    font-family: monospace;
    background-color: #acacac;
    border-radius: 5px;
    padding: 3px;
    border: 1px black solid;
}

.padded {
    padding: 3px;
}

.text-langlabel {
    /* This next line does nothing in every browser as the time of writing this.
     * It would solve many problems I'm having, but it does not exist yet.
     * Instead, I have to rely on JS to fix the unnecessary whitespace.
     */
     white-space-collapse: discard;
}


.char-name {
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;
}
.char-name-text {
    font-weight: bold;
}
.char-name-expression {
    font-style: italic;
}

.choice-text {
    padding: 5px 0;
}

.choice-text .textbox {
    padding: 4px;
}


.container {
    padding: 8px;
    border: 1px black solid;
}

.container .container > div {
    background-color: rgba(0, 0, 0, 0.15);
}

.ar-box-color-GREEN {
    background-color: #166c70;
}
.ar-box-color-RED {
    background-color: #6e0000;
}
